@font-face {
    font-family: Enchanted_Land;
    src: url(enchanted_land/Enchanted_Land.otf);
}

html,
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body{
    display: flex;
    background: url('battlescape.jpg') no-repeat;
    background-size: cover;
}

#logo-tile{
    flex-grow: 1;
}

#information-tile{
    --text-background: rgba(26, 26, 26, 0.9);
    --content-width: min(30vw, 100%);
    color: white;
    background-color: var(--text-background);
    display: flex;
    flex-direction: column;
    flex-basis: 50vw;
    justify-content: center;
    gap: 50px;
    padding-left: 10vw;
}

h1{
    font-family: 'Enchanted_Land';
    font-weight: 300px;
    font-size: 70px;
    letter-spacing: 10px;
}

p,
label{
    font-size: 28px;
}

#statement{
    width: var(--content-width);
}

form{
    --unselected-form-color: rgb(100, 100, 100);
    width: var(--content-width);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.form-row{
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}

.input-block{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label{
    color: var(--unselected-form-color);
}

input{
    font-size: 20px;
    background-color: var(--text-background);
    border: solid var(--unselected-form-color) 1px;
    border-radius: 5px;
}

button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--text-background);
}

input:hover,
input:focus{
    background-color: var(--unselected-form-color);
}

input:focus{
    color: white;
    border: solid rgb(0, 110, 0) 3px;
    outline: none;
}