@font-face {
    font-family: seagram_tfb;
    src: url(seagram_tfb/seagram_tfb.ttf);
}

@font-face {
    font-family: fantasy_magist;
    src: url(fantasy_magist/fantasy_magist.otf);
}
html,
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body{
    font-family: 'fantasy_magist';
    letter-spacing: 3px;
    line-height: 1.3;
    display: flex;
    overflow: hidden;
}

.background-image{
    display: block;
    background: url('battlescape.jpg') no-repeat;
    background-position: center;
    position: absolute;
    background-size: cover;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    z-index: 0;
}

.tint-background::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.4);;
}

#logo-tile{
    flex-grow: 1;
    z-index: 1;
    animation: logo-slide-in 2.2s ease 1;
}

@keyframes logo-slide-in{
    0% {transform: translateX(-100%)}
    0% {opacity: 0;}
}

img{
    height: 50vh;
    width: auto;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

#information-tile{
    --text-background: rgba(26, 26, 26, 0.9);
    --content-width: clamp(500px, 45vw, 70%);
    --valid-color: rgb(0, 100, 0);
    --invalid-color: rgb(196, 0, 0);
    color: white;
    background-color: var(--text-background);
    display: flex;
    flex-direction: column;
    flex-basis: 50vw;
    justify-content: center;
    gap: 25px;
    padding-left: 10vw;
    z-index: 1;
    animation: slide-in 2.2s ease 1;
}

@keyframes slide-in{
    0% {transform: translateX(100%)}
    0% {opacity: 0;}
}

#statement{
    width: var(--content-width);
}

h1,
h2{
    font-family: 'seagram_tfb';
    font-weight: 300;
    color: white;
}

h1{
    font-size: 70px;
    letter-spacing: 10px;
}

h2{
    font-size: 3vh;
    letter-spacing: 0.4vw;
    width: 25%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, -75%);
    z-index: 1;
}

p,
label{
    font-size: 28px;
}

form{
    width: var(--content-width);
    --unselected-form-color: rgb(100, 100, 100);
    --form-border: solid var(--unselected-form-color) 1.5px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form-row{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.input-block{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label{
    color: var(--unselected-form-color);
}

select{
    height: 48px;
    flex-grow: 1;
}

input{
    height: 40px;
    flex-grow: 1;
}

input,
select{
    padding-left: 10px;
    padding-top: 5px;
    font-family: 'fantasy_magist';
    letter-spacing: 3px;
    color: white;
    font-size: 24px;
    background-color: var(--text-background);
    border: var(--form-border);
    border-radius: 5px;
}

button{
    padding-top: 7px;
    font-family: 'fantasy_magist';
    letter-spacing: 3px;
    color: var(--unselected-form-color);
    width: 200px;
    height: 50px;
    border: var(--form-border);
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--text-background);
}

select:hover,
select:focus,
input:hover,
input:focus{
    background-color: var(--unselected-form-color);
}

input:focus,
select:focus{
    outline: none;
}

.valid-input{
    border: solid var(--valid-color) 1.5px;
}

.invalid-input{
    border: solid var(--invalid-color) 1.5px;
}

#reset-button:hover{
    color: white;
    border-color: white;
    animation: hovered-reset 1s ease forwards;
}

.validated-enlist-button{
    animation: validated-enlist 1s ease forwards;
    color: white;
    border: solid white 1.5px;
}

@keyframes validated-enlist{
    100% {background-color: var(--valid-color)}
}

@keyframes hovered-reset{
    100% {background-color: var(--invalid-color);}
}